.about {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  padding: 0 8px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row .column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}

.card {
  background-color: rgba(255, 255, 255, 20%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px;
  border-radius: 10px;
}

.card>img {
  border-radius: 10px 10px 0px 0px;
}

.about-section {
  padding: 30px;
  text-align: center;
  color: white;
  text-size-adjust: auto;
  margin: 0 16px;
  margin-bottom: 20px;

  min-height: 10vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-column {
  flex-grow: 1;
  align-self: center;
}

img.header-column {
  max-height: 4em;
  margin: 0px 5em;
}

.header-column p {
  margin: 0px;
}

.header-column h1 {
  margin: 0px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 30%);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.2s ease-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 30%);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}